.AddUsersBasicContainer {
  height: 110vh !important;
}
.AddUsersBasicInfoHeading {
  padding-top: 2%;
  margin-left: 2.4%;
  margin-bottom: 2%;
}

.AddUsersDetails {
  display: flex;
  height: 70vh;
}
.AddUsersOneDetails {
  width: 34vw;
  display: flex;
  justify-content: center;
}
.AddUsersTwoDetails {
  width: 34vw;
  display: flex;
  justify-content: center;
}
.AddUsersThreeDetails {
  width: 34vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddUsersDetailsInput {
  height: 6vh;
  width: 24vw;
  border-radius: 12px;
}
.DetailsInput {
  height: 6vh;
  border-radius: 12px;
}

.AddUsersInformationUpdateBtnContainer {
  display: flex;
  width: 23vw;
  margin-left: 2.4%;
  justify-content: space-between;
  margin-top: 8%;
}
.AddUsersInformationCancelBtn {
  border-radius: 10px;
  border: 1px solid #3a3475;
  color: #3a3475;
  width: 7vw;
}
.AddUsersInformationUpdateBtn {
  border-radius: 10px;
  background: #425cda;
  color: white;
  width: 12vw;
}
.GenderInput {
  width: 24vw !important;
}
.ant-select-custom .ant-select-selector {
  height: 6vh !important;
  /* width: 18vw !important; */
  border-radius: 12px;
  display: flex;
  align-items: center;
  background: #f9f9f9 !important;
}
.ant-select-custom .ant-select-arrow {
  padding-top: 1px;
  padding-bottom: 0;
}
.ant-select-custom .ant-select-selection-placeholder::placeholder {
  display: flex;
  align-items: center;
}
.adduserLabel {
  /* font-weight: bold; */
  margin-left: 3%;
}
.adduserLabel::after {
  content: " *";
  font-weight: bold;
  color: red;
}
.addUserNotLabel {
  margin-left: 3%;
}
.usercreationtxt {
  color: #3a3475;
}
.InvalidContactTxt{
  color: red;
}