.file-container {
  font-family: Poppins, sans-serif;
  margin-left: 15px;
  margin-top: 10px;
}
.import-button {
  margin-top: 10px;
  background: #2a44c1;
  color: white;
}
.breadcrumb-file-upload {
  border: 1px solid #ededed;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
}
.file-paragraph {
  color: #707477;
}
.file-upload {
  width: 80vw;
}
.file-uploadText {
  height: 10px;
}
.file-supportedText {
  color: #707477;
  font-size: 11px;
  height: 10px;
}
.file-dragger {
  width: 79vw;
}
.fileProgress {
  width: 80vw;
}
