.UpdatePasswordContainer {
  background-color: #d3d3d3;
  height: 90vh;
  border-radius: 20px;
}
.UpdatePasswordInnerContainer {
  padding-top: 2%;
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 2%;
  height: 90vh;
  width: 70vw;
}

.UpdatePasswordBoldLabel::after {
  content: " *";
  color: red;
}
.UpdatePasswordInput {
  width: 30vw;
}
.updatePasswordBtnContainer {
  width: 80vw;
}
.PasswordUpdateBtn {
  border: none;
  margin-top: 2%;
  margin-right: 9%;
  margin-bottom: 2%;
}
