.UpdatePasswordContainer {
  background-color: white;
  height: 90vh !important;
  border-radius: 20px;
}
.UpdatePasswordInnerContainer {
  padding-top: 2%;
  margin-left: 5%;
  margin-right: 9%;
  padding-bottom: 2%;
  height: 90vh;
  width: 70vw;
}

.UpdatePasswordBoldLabel::after {
  content: " *";
  color: red;
}
.UpdatePasswordInput {
  width: 30vw;
}
.updatePasswordBtnContainer {
  margin-top: 4%;
  width: 26.2vw;
  display: flex;
  justify-content: space-between;
}
.PasswordUpdateBtn {
  border: none;
  /* height: 50px; */
  width: 150px;
  margin-top: 2%;
  margin-right: 9%;
  margin-bottom: 2%;
  background: #425cda;
  color: white;
}
.PasswordUpdateBtn:hover {
  background: #1e38ba;
  color: white;
}
.CancelBtn {
  width: 130px;
  border: 1px solid #3a3475;
  margin-top: 2%;
  margin-right: 9%;
  margin-bottom: 2%;
  background: white;
  color: #3a3475;
}

.ChangePasswordText {
  color: #3a3475;
}
.UpdateProfileInput {
  height: 6vh;
  width: 24vw;
  border-radius: 12px;
}
