.ProfileMainContent {
  margin-top: 10px;
}
.ProfileMainLayout {
  padding: 24px 0;
  background: #ffffff;
  /* height: 95vh; */
}
.ProfileNestedContent {
  padding: 0 24px;
  /* min-height: 280px; */
}
