.TopnavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.top-nav-logo-container {
  margin-left: -20px;
}
.ProfileDropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-nav-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.TopnavUser {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.TopnavUserName {
  height: 20px;

  color: #009cdf;
}
.TopnavJobTitle {
  height: 20px;
  margin-bottom: 50px;
}
.TopnavProfileLogo {
  font-size: 20px;
}
.nav-itmes-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.mobile-drawer-nav {
  width: 35vb !important;
  height: 55vh !important;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-drawer .ant-drawer-body {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

  background-color: #3a3475;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-drawer .ant-drawer-header {
  background-color: #3a3475;
}
.mobileButton {
  display: none;
  margin-right: 10px;

  @media (max-width: 768px) {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .TopnavHeader {
    background-color: #3a3475;
    color: #fff;
  }
  .TopnavUser {
    display: none;
  }
  .nav-itmes-contianer {
    margin-right: -40px !important;
  }
}
