.TopnavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.TopnavUser {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.TopnavUserName {
  height: 20px;

  color: #009cdf;
}
.TopnavJobTitle {
  height: 20px;
  margin-bottom: 50px;
}
.TopnavProfileLogo {
  font-size: 20px;
}
.nav-itmes-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .TopnavUserName {
    height: 10px;
    width: 60px;
    color: #009cdf;
  }
  .TopnavJobTitle {
    height: 10px;
    width: 60px;
    margin-top: 10px;
  }
  .TopnavSearch {
    margin-left: -40px;
    margin-right: 30px;
  }
}
.ProfileDropdown {
  cursor: pointer;
}
.ProfileNavlink {
  text-decoration: none;
}
.nav-drop-down {
  margin-top: -18px;
}
