.Schema-Container {
  margin-top: 10px;
}
.addNewSchema {
  margin-left: 15px;
}
.AvailSchemastxt {
  margin-top: 10px;
  margin-left: 10px;
}
.title {
  margin-top: 10px;
  margin-left: 12px;
}
.schemaImg {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 40px;
  min-width: 20px;
  max-height: 80px;
  max-width: 40px;
}
.availableSchemasBtn {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.schemaName {
  font-size: 24;
  font-weight: bold;
}
h6 {
  font-weight: bold;
}
.circlebtn {
  background: #01a4ec;
  color: #fff;
}

.linkbtn {
  font-weight: bolder;
  color: #01a4ec;
}
.SchemaRow {
  margin-top: -10px;
  margin-bottom: 40px;
}
