.NavbarTop {
  text-align: center;
  cursor: pointer;
  padding: 20px;
  background-color: #001529;
  color: white;

  font-size: 20px;
}
.NavbarMenu {
  height: 70vh;
  border-right: 0;
}

.NavbarFooter {
  text-align: center;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.23);
}
.NavbarCopy {
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
}
.NavbarSiderContainer {
  height: 76.4vh;
}
@media screen and (max-width: 480px) {
  .NavbarTop {
    font-size: 14px;
    margin-top: 20px;
  }
  .NavbarSiderContainer {
    height: 85vh;
  }
  .NavbarFooter,
  .NavbarCopy {
    display: none;
  }
}
