.NavbarMenu .ant-menu-item {
  background-color: transparent !important;
  color: aliceblue !important;
  transition: background-color 0.3s;
  outline: none !important;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.NavbarMenu .ant-menu-item:hover,
.NavbarMenu .ant-menu-item:active,
.NavbarMenu .ant-menu-item-selected {
  background: linear-gradient(to left, #ffffff 97%, #045ee7 3%);
  color: #001529 !important;
}

.NavbarFooter {
  background-color: #001529;
  color: aliceblue;
}
.logo {
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
  min-height: 51px;
  min-width: 48px;
  max-height: 71px;
  max-width: 68px;
}
.menuSider {
  height: 100%;
  border-right: 0;
}
.NavbarMenu {
  font-weight: bold;
  background-color: #001529;
}
