.BasicContainer {
  background-color: #d3d3d3;
  height: 132vh;
  border-radius: 20px;
}
.BasicInfoHeading {
  padding-top: 2%;
  margin-left: 9%;
}
.ProfilePhoto {
  margin: 2%;
  margin-left: 9%;
}
.ProfileImg {
  border-radius: 50%;
}
.UserDetails {
  display: flex;
  height: 40vh;
}
.OneDetails {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707477;
}
.TwoDetails {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707477;
}
.BasicUserDetailsInput {
  height: 6vh;
  width: 25vw;
}
.basic-ant-select-selector {
  height: 39.05px;
  width: 25vw;
  border-radius: 15px;
}

.BasicInformationUpdateBtnContainer {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
}
.BasicInformationUpdateBtn {
  border: none;
  margin-top: 5%;
  margin-right: 9%;
  margin-bottom: 2%;
}

.basic-react-international-phone-input {
  width: 340px;
}
.react-international-phone-input-container {
  border-radius: 15px;
}
.basic-ant-select-arrow {
  padding-bottom: 5px;
}
