.BasicContainer {
  background-color: #d3d3d3;
  height: 128vh;
  border-radius: 20px;
}
.BasicInfoHeading {
  padding-top: 1%;
  margin-left: 9%;
}
.ProfilePhoto {
  margin-top: 1%;
  margin-bottom: 4%;
  margin-left: 9%;
}
.ProfileImg {
  border-radius: 50%;
}
.UserDetails {
  display: flex;
  height: 72vh;
}
.OneDetails {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707477;
}
.TwoDetails {
  margin-top: 4.5%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707477;
}
.UserDetailsInput {
  height: 6vh;
  width: 25vw;
  border-radius: 15px;
}
.InformationUpdateBtnContainer {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
}
.InformationUpdateBtn {
  border: none;
  margin-top: 5%;
  margin-right: 9%;
  margin-bottom: 2%;
}

.react-international-phone-input {
  width: 340px;
}
.react-international-phone-input-container {
  border-radius: 15px;
}
