.main-container-pharmacies {
  font-family: "Poppins", sans-serif;
}
.pharmacy-list-head-txt {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #3a3475;
  font-family: "Poppins", sans-serif;
}
.pharmacy-list-head {
  justify-content: space-between;
}
.pharmacy-list-search-filter-container {
  justify-content: space-between;
  border: 1px solid #ededed;
  border-radius: 8px;
  width: 100%;
  margin-left: 1px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.create-pharm-btn {
  justify-content: center;
  background-color: #425cda;
  font-family: "Poppins", sans-serif;
}
.filter-pharm-btn {
  width: 113px;
  text-align: left;
  justify-content: space-evenly;
  margin-right: -10px;
}
.filter-icon {
  padding-right: 10px;
}
.filter-select-placeholder {
  margin-top: 30px;
  color: #425cda;
  font-family: "Poppins", sans-serif;
}
.plus-outline-img {
  height: 10px;
  width: 10px;
  margin-right: -10px;
  padding-right: 10px;
}
.search-bar {
  background: #fff !important;
  border-radius: 12px;
}
.action-btns {
  cursor: pointer;
}
.ant-input.css-dev-only-do-not-override-nnuwmp {
  background: #fff !important;
}
.custom-table-header {
  font-family: "Poppins", sans-serif;
}
.custom-table-content {
  font-family: "Poppins", sans-serif;
}
.items-per-page-dropdown {
  border: 1px solid #ededed;
  border-radius: 10px;
  width: 60px;
  height: 35px !important;
  padding: 5px;
  margin-bottom: 17px;
}
.pharm-table-footer {
  background-color: #fff !important;
  height: 60px;
  border: 1px solid #ededed;
  border-radius: 12px;
  padding-top: 5px;
  padding-left: 50px;
}
/* :where(.css-dev-only-do-not-override-nnuwmp).ant-table-wrapper
  .ant-table-footer {
  
} */
.ant-table-column-sorters .ant-tooltip {
  display: none !important;
}
.ant-pagination .ant-pagination-item a {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-pagination
  .ant-pagination-item-active {
  background-color: #425cda !important;
  height: 30px;
  color: #fff;
  border: transparent;
}
